.hidden {
    display:unset;
    opacity: 1;
}

.header.initial  {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 75px;
    background-color: black;
} 

body.initial {
    margin: 0;
    height: 100%;
    display: flex;
    align-items:unset;
    justify-content:unset;
    flex-direction: column;
    background-image: url('https://i.pinimg.com/736x/4f/3e/d6/4f3ed6ce172f1d4248805e9a25204d62.jpg'); 
    background-size:cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
} 

@media (max-width: 540px) {
.header.initial {
            
            width:100vw;
        }
}