* {
    list-style: none;
    text-decoration: none;
    cursor: crosshair;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.765), rgba(0, 0, 0, 0.765), rgba(0, 0, 0, 0.765)),
        url("https://i.pinimg.com/736x/4f/3e/d6/4f3ed6ce172f1d4248805e9a25204d62.jpg");
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}


.header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    height: 75px;
    background-color: rgba(168, 249, 255, 0);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.332), inset 0 0 20px rgb(94, 94, 94);
   
}


#weatherTitle {
    margin: 0;
    font-size: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: transparent;
    font-weight: lighter;
    color: rgba(242, 254, 255, 0.742);
}

.searchBanner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
    gap: 10px;
}

#searchInput {
    font-size: 1.1rem;
    font-family: "Raleway", sans-serif;
    padding: 5px 25px 5px 25px;
    text-align: center;
    border-radius: 25px;
    letter-spacing: 4px;
    cursor: text;
    color: white;
    background-color: transparent;
    box-shadow: inset 0 0 3px rgb(255, 255, 255);
    border-color: transparent;
}

#searchInput::placeholder {
    color: rgb(255, 255, 255);
    width: fit-content;
}

#searchInput:hover::placeholder {
    opacity: 0.4;
}

#searchButton {
    border-radius: 50px;
    font-size: 15px;
    padding: 8px;
    color: rgb(194, 194, 194);
    background-color: transparent;
    box-shadow: inset 0 0 3px rgb(255, 255, 255);
    border-color: transparent;
    cursor: pointer;
  
}

#searchButton:hover,
.fa-magnifying-glass:hover {
    color: rgb(75, 141, 163);
    cursor: pointer;
}

#searchButton:active {
    box-shadow:
        0 0 3px rgb(255, 255, 255),
        0 0 6px rgb(255, 255, 255);
} 

.help {
    margin-top: 5px;
    height: 40px;
    position: absolute ;
}

.tempSwitch {
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content:end;
    align-items: center;
    padding: 10px;
    height: 40px;
    display: none;
}

.tempSwitch .container {
    display: flex;
    flex-direction: row;
    color: rgba(0, 193, 174, 0.552);
    font-size: 25px;
    border-radius: 50px;
    padding: 20px;
    cursor: pointer;
}

.fa-circle-info  {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.5px rgb(182, 255, 208);
    cursor:none;
}


.helpButton {
    cursor:help;
    font-size: 25px;
    background-color: transparent;
    border: none;
  
}

.fa-circle-info:hover {
    background-color: red;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.5px rgba(182, 255, 208, 0);
}

.help:hover .tempSwitch {
    display: inherit;
}

.container.help {
    display: flex;
    flex-direction: row;
   

}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



.content {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 25px;
}

.date {
    font-size: 30px;
    color: rgb(74, 142, 6);
}

@media (max-width: 600px) {

    .header {
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding: 10px 0 10px 0;
        height: max-content;
        justify-content: center;
        align-items: center;
    }
    
    .searchBanner {
        flex-direction: column;
        justify-content: stretch;
        margin: 0;
    }

    
    #weatherTitle {
       font-size: 4.2vw;
        padding: 5px;
        margin: 5px;
    }

   

 #searchInput, #searchButton {
    font-size: 3.2vw;
 }

  

    .main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .content {
        height: auto;
        font-size: 12px;
        padding: 10px;
    }


    .tempSwitch .container {
        font-size:18px;
        padding: 10px 15px 10px 0px;
    }

}

@media (max-width: 400px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        margin: 0;
    }

    #searchInput, #searchButton {
        font-size: 3.8w;
     }

     #weatherTitle {
        font-size: 5vw;
     }

}