body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 50vw;
    border-radius: 100px;
    /* background: linear-gradient(130deg,
            hsla(0, 0%, 100%, 0.333) 0%,
            hsla(208, 66%, 39%, 0.397) 33%,
            hsla(206, 59%, 57%, 0.729) 50%,
            hsla(204, 76%, 71%, 0.634) 67%,
            hsla(197, 86%, 57%, 0.866) 100%),
            url('https://cbs4local.com/resources/media2/16x9/full/1015/center/80/62a73c6d-de35-40d5-b1e6-a5f8180ad950-large16x9_MicrosoftTeamsimage1.png'); */
}

h1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.4em;
    margin: 5px 0px 30px 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px;
    color: white;
    font-weight:600;
}

#searchInput {
    font-size: 1.4em;
    width: 300px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.129);
    border: none;
    font-family: "Nunito Sans", sans-serif;
    padding: 15px;
    margin: 15px;
    text-align: center;
    margin-bottom: 25px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 118);
    color: white;
    letter-spacing: 4px;
}

#searchInput::placeholder {
    background-image: linear-gradient(to left, violet, rgb(99, 109, 255), rgb(0, 255, 247), green, yellow, orange, red);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

#searchInput:hover {
    border: 1px solid blue;
}

#searchInput:hover::placeholder{
    letter-spacing: normal;
}


#searchButton {
    font-size: 1.2em;
    width: 250px;
    border: none;
    background-color: rgba(0, 0, 0, 0.366);
    height: auto;
    padding: 10px;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 118);
}

#searchButton:hover {
    transform: scale(1.01);
    box-shadow: 0 0 3px rgb(255, 255, 255), 0 0 6px rgb(255, 255, 255);
    border: 1px solid blue;
}

#searchButton:active {
    background-color: dimgray;
}


@media (max-width: 550px) {
    .header {
        border-radius: 100px;
        width: 90vw;
        /* background: linear-gradient(130deg,
        hsla(0, 0%, 100%, 0.333) 0%,
        hsla(208, 66%, 39%, 0.397) 33%,
        hsla(206, 59%, 57%, 0.729) 50%,
        hsla(204, 76%, 71%, 0.634) 67%,
        hsla(197, 86%, 57%, 0.866) 100%),
        url('https://cbs4local.com/resources/media2/16x9/full/1015/center/80/62a73c6d-de35-40d5-b1e6-a5f8180ad950-large16x9_MicrosoftTeamsimage1.png'); */
    }

    h1 {
        font-size: 11vw;
        font-weight: bolder;
    }

    #searchInput {
        font-size: 5vw;
        width: 60vw;
    }

    #searchButton {
        font-size: 5vw;
        width: 50vw;
    }
}

