* {
    list-style: none;
    text-decoration: none;
    cursor: crosshair;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}

.hidden-converter, .hidden-maincontent {
    display: none;
}

.hidden {
    height: 0px;
    width: 0px;
    opacity: 0;
}

.body {
    background-image: url("https://i.pinimg.com/736x/4f/3e/d6/4f3ed6ce172f1d4248805e9a25204d62.jpg");
    background-size: cover;
    background-repeat: repeat;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.initial-body {
    background-image: url("https://i.pinimg.com/736x/4f/3e/d6/4f3ed6ce172f1d4248805e9a25204d62.jpg");
    background-repeat: repeat;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)),url('https://c4.wallpaperflare.com/wallpaper/123/290/342/waves-water-sea-nature-wallpaper-preview.jpg');
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    height: 75px;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.332), inset 0 0 20px rgb(0, 0, 0);
    
}


.initial-header{
   background-color: rgba(0, 0, 0, 0.696);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    height: 50vh;
    width: 80vw;
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.476), inset 0 0 5px white, 0 0 2px black;
    max-width: 1000px;
}

.initial-header::before {    
    content: "";
    background-image: url('https://c4.wallpaperflare.com/wallpaper/123/290/342/waves-water-sea-nature-wallpaper-preview.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;
    box-shadow: inset 0 0 20px rgb(255, 255, 255);
}

#weatherTitle {
    position: relative;
    margin: 5px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bolder;
    padding: 10px;
    color: rgba(248, 254, 255, 0.979);

}

.search-list {
position: relative;
display: flex;
align-items: center;
background-color: transparent;
box-shadow: inset 0 0 3px rgb(255, 255, 255);
border-radius: 25px;
}

#searchInput {
    display: flex;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    
    cursor: text;
    color: white;
    background-color: transparent;
    border-color: transparent;
    text-overflow: ellipsis;
    outline: none;
    width: 50vw;
    text-align: left;
}


#searchInput::placeholder {
    color: rgb(239, 239, 239);
    font-size:18px;
    text-align: left;
    padding: 0;
    margin: 0;
}



#searchButton {
    margin-right: 5px;
    font-size: 18px;
    padding: 8px 30px 8px 30px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
}

#searchButton:hover,
.fa-magnifying-glass:hover {
    color: rgb(75, 141, 163);
    cursor: pointer;
}

#searchButton:active {
    color: rgb(0, 255, 242);
}


.recent-search {
    height: 400px;
    top: 60px;
    width: 50vw;
    margin-left: 15px;
    padding: 8px 30px 8px 30px;
    position: fixed;
    background-color: rgb(255, 0, 0);
    color: white;
    display: none;
    
}

#searchInput:hover{
color: rgba(222, 219, 219, 0.611);
}
#searchInput:focus-within {
    background-color: rgba(82, 82, 82, 0.334);
    box-shadow:  0 0 10px rgb(0, 0, 0);
}

.history-list:focus-within .recent-search {
display: block;
}

.convert {
    margin-top: 10px;
    height: 55px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 40px;
    justify-content: left;
   background-color:transparent
}

.tempSwitch {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding:20px;
    height: 100px;
    gap: 20px;
    display: none;
    color: rgb(0, 0, 0);
    background-color: transparent
}

.tempSwitch .container {
    display: flex;
    color: rgba(0, 193, 174, 0.552);
    font-size: 18;
    cursor: pointer;
    justify-content: left;
    background-color: transparent;
    border: none;
}

.fa-circle-info {
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 0.8px rgb(182, 255, 208);
    cursor: none;
}

.convertButton {
    display: flex;
    font-size: 25px;
    background-color: transparent;
    border: none;
    justify-content: left;
}

.fa-circle-info:hover {
    color: rgba(0, 0, 0, 0.201);
    -webkit-text-stroke: 0.5px rgb(242, 245, 243);
}

.convert:hover .tempSwitch {
    display: inherit;
    height: 300px;
}

.convert:hover {
    height: 300px;
    width: 250px;
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom:50px;
    text-align: center;
}

.content {
    background-color: rgba(0, 0, 0, 0.703);
    color: rgb(0, 0, 0);
    padding: 25px;
    
}

.date {
    font-size: 30px;
    color: rgb(74, 142, 6);
}


@media (min-width: 700px) {
    .recent-search {
        width: 55vw;
    }
}



@media (max-width: 650px) {

    .initial-body {
        background-image: url("https://i.pinimg.com/736x/4f/3e/d6/4f3ed6ce172f1d4248805e9a25204d62.jpg");
        background-size: cover;
        background-repeat: repeat;
        margin: 0;
        height: 100vh;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .initial-header{
        width:vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        height:50vh;
        width: 80vw;
        box-shadow: inset 0 0 0px rgb(0, 0, 0), inset 0 0 20px rgb(255, 255, 255);
    }
    

    .header {
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding: 10px 5px 10px 5px;
        height: max-content;
        justify-content: center;
        align-items: center;
    }


    #weatherTitle {
        padding: 5px;
        margin: 5px;
    }

    .recent-search {
        top: 75px;
        margin-left: 5px;
    }

    .main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .content {
        height: auto;
        font-size: 12px;
        padding: 10px;
        width: 80vw;
        font-size:20px;
    }

    .tempSwitch .container {
        font-size: 18px;
        padding: 10px 15px 10px 0px;
    }
}


@media (max-width: 475px) {


    .initial-header{
    min-height: 150px;
    }

   
    #searchInput::placeholder {
    font-size: 25px;
    }

    #searchInput {
        font-size: 20px;
    }

    #weatherTitle {
        display: none;
    }

    .recent-search {
        top:60px;
        margin-left: 25px;
        width: 60vw;
        }
    

  

    .content {
        width: 80vw;
        font-size:20px;
    }

    
}