@media (max-width: 540px) {

    /* Initial Page*/
    

        .searchBanner {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            min-width: 350px;
           
        }
    
        .header.initial {
            
            width:90vw;
        }
    
    #weatherTitle {
        font-size: 15px;
    }
    
    
    .header {
        width: 100vw;
        flex-direction: column;
        justify-content: center;
    }
    
    
    #searchInput {
        font-size: 14px;
    }
    

 
    
    }