
.header-container  {
    display: flex;
    border: 2px solid black;
    justify-content: space-around;

}
.header-div {
   border: 2px solid black;
   margin-left: 20px;
   font-size: 50px;
   font-family: Arial;
   font-weight: lighter;
}


.input-div {
    border: 2px solid black;
   margin: auto;
  
}

#enter-city-name {
padding: 20px;
width: 500px;

}

#city-search-button {
 padding: 15px;
 width: 150px;
}

.button-div {
    border: 2px solid black;
    margin: auto;
    
}

.city-state-country-wrapper {
    display: flex;
 
}
.city-state-country-wrapper p  {
    display: flex;
    margin: 3px
  
   


}

.current-temp-container {
    border: 2px solid black;
    margin-top: 5%;
    margin-right: 75%
}